@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: "Gantari";
  src: url("gantari-regular.ttf") format("truetype");
}
* {
  font-family: 'Open Sans', 'sans-serif';
}

html, body {
  overflow: hidden;
}

a.github-link {
  background-color: hsl(0, 10%, 10%);
}
a:hover {
  border-radius: 0.3em;
}
a {
  position:absolute;
  top: 33%;
  /*center in the middle horizontally*/
  left: 50%;
  /*center in the middle vertically*/
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0.3em;
  padding: 0.15em 0.6em;
  box-sizing: border-box;
  width: 15em;
  height: 4em;
  align-self: center;
  border-radius: 0.75em;
  background-color: hsl(215, 75%, 50%);;
  text-decoration: none;
  color: hsl(215, 100%, 95%);
  transition: border-radius 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 11em;
}
a > img{
  height: 1.6em;
  width: 1.6em;
  padding: 0.2em;
  filter: invert(97%) sepia(96%) saturate(2553%) hue-rotate(178deg) brightness(105%) contrast(108%);
  /*center vertically*/
  align-self: center;

}
a > span {
  display: block;
  margin: auto auto;
  font-family: Gantari;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  width: 100%;
  font-size: 2.5em;
}

ul {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

li {
  display: inline-block;
  margin: 10px;
}

.download {
  width: 200px;
  height: 75px;
  background: black;
  float: left;
  border-radius: 5px;
  position: relative;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
}

.download > .fa {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.df,
.dfn {
  position: absolute;
  left: 70px;
}

.df {
  top: 20px;
  font-size: .68em;
}

.dfn {
  top: 33px;
  font-size: 1.08em;
}

.download:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}